{% extends "base.html" %}

{% block content %}
    <h1>class</h1>
    {% for roleplay in roleplays %}
        <a href= {{ '/' + roleplay.section_name }}/{{ roleplay.number }}>Roleplay {{ roleplay.number }}: {{ roleplay.name }}</a>
    {% endfor %}
    <form action="" method="post">
        <button name="submit" value="add">+New Roleplay(Instructors Only)</button>
    </form>
{#    {% for roleplay in roleplays %}#}
{#        <form action="" method="post">#}
{#        <button name="submit" value={{ roleplay.number }}>Roleplay {{ roleplay.number }}: {{ roleplay.name }}</button>#}
{#        </form>#}
{#    {% endfor %}#}
{% endblock %}
